.classheader {
    background-color: #072d94;
    position: relative;
    z-index: 1062;
}

.classheaderchild {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

@media only screen and (max-width: 600px) {
    .classheaderchild {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        flex-direction: column;
        align-items: center;
    }
}
