.label-panel-icon-minus {
    opacity: 0;
    font-size: 20px;
    color: gray;
    margin: 5px;
    cursor: pointer;
}

.label-panel-input {
    opacity: 0;
    width: 55px;
    height: 25px;
}

.cls-display {
    opacity: 1;
}
