@media only screen and (max-width: 600px) {
  .custom-mobile {
    padding: 0 4px;
  }
}

.w3-display-middle {
  // background-color: black;
  // color: white;
  text-align: center;
}

h1 {
  color: red;
}

h6 {
  color: red;
  text-decoration: underline;
}
